<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TapHelpVideo</key>
	<string>TAP Help Video.mp4</string>
	<key>TapTourMLEndpoint</key>
	<string>http://www.museumgeluid.nl/tap/?q=node/2/tourml.xml</string>
</dict>
</plist>
