<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultLanguage</key>
	<string>en</string>
	<key>FlurryKey</key>
	<string></string>
	<key>HelpVideo</key>
	<string>TAP Help Video.mp4</string>
	<key>KioskMode</key>
	<false/>
	<key>NavigationControllers</key>
	<dict>
		<key>StopListViewController</key>
		<dict>
			<key>FilterBy</key>
			<string>stopGroup</string>
			<key>Label</key>
			<string>Stop List</string>
		</dict>
		<key>KeypadViewController</key>
		<dict>
			<key>Label</key>
			<string>Keypad</string>
		</dict>
		<key>MapViewController</key>
		<dict>
			<key>Label</key>
			<string>Map</string>
		</dict>
	</dict>
	<key>TourConfig</key>
	<dict>
		<key>tour-113</key>
		<dict>
			<key>EnabledViewControllers</key>
			<array>
				<string>KeypadViewController</string>
				<string>StopListViewController</string>
				<string>MapViewController</string>
			</array>
		</dict>
		<key>tour-37</key>
		<dict>
			<key>EnabledViewControllers</key>
			<array>
				<string>KeypadViewController</string>
				<string>StopListViewController</string>
			</array>
		</dict>
	</dict>
	<key>Stops</key>
	<dict>
		<key>audio_stop</key>
		<string>AudioStop</string>
		<key>image_stop</key>
		<string>ImageStop</string>
		<key>stop_group</key>
		<string>StopGroup</string>
		<key>video_stop</key>
		<string>VideoStop</string>
	</dict>
	<key>TourMLEndpoint</key>
	<string></string>
</dict>
</plist>
