<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GATrackerId</key>
	<string></string>
	<key>HelpVideo</key>
	<string>TAP Help Video.mp4</string>
	<key>KioskMode</key>
	<false/>
	<key>TourMLEndpoint</key>
	<string></string>
	<key>Stops</key>
	<dict>
		<key>tour_audio_stop</key>
		<string>AudioStop</string>
		<key>tour_image_stop</key>
		<string>ImageStop</string>
		<key>tour_stop_group</key>
		<string>StopGroup</string>
		<key>tour_video_stop</key>
		<string>VideoStop</string>
	</dict>
</dict>
</plist>
